body {
    color: red;
    background: black;
    font-family: "Playwrite CU", cursive;
    display:flex;
    Justify-content: center;
    align-items: center;
    height: 700px;

}

button {
    color: red;
    font-family: "Playwrite CU", cursive;
    background: gray;
}

.passo{
    display:none;
}

.passo.ativo{
    display:block;
}
